:host {

  div {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
    margin-top: 2em;

    p {
      margin-bottom: 0;
    }

    p.found {
      color: forestgreen;
    }

    p.not-found {
      color: red;
    }
  }
}
