<!--<app-content-card *ngFor="let item of contentList; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>-->
<app-modify-content (newContentEvent)="addContentToList($event)" [types]="typeList"></app-modify-content>
<div>
  <mat-form-field>
    <input matInput #searchItem placeholder="Search Title">
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="showResult(searchItem.value)">Find Item</button>
  <p class="search-result">{{ showResult(searchItem.value) }}</p>
</div>

<mat-expansion-panel *ngFor="let type of typeList">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ type ?? "TYPELESS" }} Games
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-content-card *ngFor="let item of (contentList | typeFilter: type ?? null); first as isFirst" [content]="item" [class.first]="isFirst"></app-content-card>
</mat-expansion-panel>
<!--<mat-expansion-panel>-->
<!--  <mat-expansion-panel-header>-->
<!--    <mat-panel-title>-->
<!--      -->
<!--    </mat-panel-title>-->
<!--  </mat-expansion-panel-header>-->
<!--</mat-expansion-panel>-->
<!--  <app-content-card *ngFor="let item of (contentList | typeFilter:'PC'); first as isFirst" [content]="item" [class.first]="isFirst"></app-content-card>-->
<!--<app-content-card *ngFor="let item of (contentList | typeFilter:'SWITCH'); first as isFirst" [content]="item" [class.first]="isFirst"></app-content-card>-->
<!--(newContentEvent)="addContentToList($event)" (updateContentEvent)="updateContentInList($event)"-->
