<!--<app-content-card *ngFor="let item of contentList; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>-->
<app-modify-content></app-modify-content>
<div>
  <input type="text" #searchItem>
  <button type="button" (click)="showResult(searchItem.value)">Find Item</button>
  <p class="search-result">{{ showResult(searchItem.value) }}</p>
</div>

<app-content-card *ngFor="let item of (contentList | typeFilter); first as isFirst" [content]="item" [class.first]="isFirst"></app-content-card>
<app-content-card *ngFor="let item of (contentList | typeFilter:'PC'); first as isFirst" [content]="item" [class.first]="isFirst"></app-content-card>
<app-content-card *ngFor="let item of (contentList | typeFilter:'Switch'); first as isFirst" [content]="item" [class.first]="isFirst"></app-content-card>
