:host {

  div {

    h1 {
      text-align: center;
      font-size: 1.75em;
    }

    p.error {
      color: red;
      font-weight: bold;
      text-align: center;
    }

    div {
      margin: 0.5em auto;
      width: 50%;

      input {
        width: 50%;
        float: right;
      }
    }

    button {
      margin: auto;
      display: block;
    }

  }

}
