:host {

  div {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 2em;

    h1 {
      text-align: center;
    }

    p.error {
      color: red;
      font-weight: bold;
    }
  }

}
