<div>
  <form #form>
    <h1>Add Game</h1>
    ID: <input type="number" #id > <br>
    Title: <input type="text" #title> <br>
    Description: <input type="text" #description> <br>
    Creator: <input type="text" #creator> <br>
    Type: <input type="text" #type> <br>
    Tags (comma separated list): <input type="text" #tags> <br>
    Image URL: <input type="text" #imgUrl> <br>
    <button type="button" (click)="addContent(id.value, title.value, description.value, creator.value, imgUrl.value, type.value, tags.value); form.reset()">Submit</button>
    <p *ngIf="failMessage" class="error">{{ failMessage }}</p>
  </form>
</div>
