<!--<div *ngIf="content ? content.id <= 5 : null">-->
<mat-card [appHoverAffect]="cardFlag" *ngIf="content" class="{{ content.type }}">
  <mat-card-title>{{ content.title }}</mat-card-title>
  <mat-card-content>
<!--    <p class="description"> {{ content.description }}</p>-->
    <a [routerLink]="['/list', content.id]" routerLinkActive="active">See Details</a>
    <p>Creator: {{ content.creator }}</p>
    <p [appHoverAffect]="typeFlag" *ngIf="content.type">Type: {{ content.type }}</p>
    <ul *ngIf="content.tags">
      <li [appHoverAffect]="tagFlag" *ngFor="let item of content.tags">{{ item }}</li>
    </ul>
  </mat-card-content>
  <img mat-card-image *ngIf="content.imgURL" src="{{ content.imgURL }}" (click)="logDetail()">
  <img mat-card-image *ngIf="!content.imgURL" src="https://cdn.pixabay.com/photo/2020/05/04/02/08/control-5127467__340.png">
</mat-card>
