<!--<div *ngIf="content ? content.id <= 5 : null">-->
<div class="{{ content?.type }}">
  <header>
    <h1> {{ content?.title }}</h1>
  </header>
  <section>
    <p class="description"> {{ content?.description }}</p>
    <p>Creator: {{ content?.creator }}</p>
    <p *ngIf="content ? content.type : null">Type: {{ content?.type }}</p>
    <ul *ngIf="content ? content.tags : null">
      <li *ngFor="let item of content ? content.tags : null">{{ item }}</li>
    </ul>
  </section>
  <img *ngIf="content ? content.imgURL : null" src="{{ content?.imgURL }}" (click)="logDetail()">
</div>
