:host {

  width: 45%;
  margin: 1em;

  div {
    background: lightblue;
    border: 1px solid black;
    border-radius: 1.5em;
    padding: 0 1em 1em;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    h1 {
      font-size: 2em;
    }

    img {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      display: block;
      border-radius: 1.5em;
    }

    section {
      position: relative;

      p.description {
        width: 65%;
      }

      ul {
        position: absolute;
        top: -1em;
        right: 1em;
      }
    }
  }

  div.PC {
    background: pink;
  }

  div.SWITCH {
    background: palegoldenrod;
  }
}

:host.first > div {
  border: 2px solid black;
}


